* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

/*----------------------------
        Header Section
 ----------------------------*/
.header-container {
    background: rgba(255, 144, 14, 0.10);
    width: 1920px;
    height: 1280px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 100px;
}

.header-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.header-items a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    margin-left: 40px;
}

/* -----------------------------
    Group Section
-------------------------------- */
.group-container {
    text-align: center;
    margin-left: 520px;
    margin-right: 520px;
}

.group-title {
    color: #131313;
    margin-bottom: 10px;
    font-size: 64px;
    font-weight: 700;
}

.group-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 35px;
}

.btn-primary {
    padding: 15px;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    margin-bottom: 50px;
}

.group-containers img {
    margin-left: 240px;
    margin-right: 240px;
}

/*----------------------------
    Quick List Section 
 ----------------------------*/
.container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 300px;
    margin-top: 50px;
    margin-bottom: 130px;
}

.Quicks {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.Quick {
    margin-left: 75px;
    margin-right: 264px;

}

.Quick-title {
    font-size: 45px;
    font-weight: 500;
    margin-bottom: 22px;
}

.Quick-description {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
}

/*-------------------------------- 
        Features Section 
 ---------------------------------*/
.container-3 {
    display: flex;
    margin-left: 240px;
    margin-right: 240px;
    align-items: center;
    margin-bottom: -30px;

}

.features {

    margin-right: 145px;

}

.feature-1 {
    /* padding: 30px; */
    border-radius: 8px;
    background: #FFF;
    /* box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06); */
}

.feature {
    margin-top: 25px;
    padding: 30px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
}

.feature-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    border-left: 5px solid #FF900E;
    border-radius: 5px;
    margin-bottom: 22px;

}

.feature-sub-title {
    font-size: 20px;
    font-weight: 600;
    color: #131313;
    margin-bottom: 10px;
}

.feature-description {
    color: #727272;
    font-size: 16px;
    font-weight: 400;
}

.experiences {
    padding: 26px 22px 25px 22px;
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    width: 260px;
    height: 160px;
    margin-bottom: 130px;
    margin-left: 980px;
    margin-top: -100px;
}

/*------------------------------ 
        Some fact Section 
--------------------------------*/
.fact-container {
    margin-left: 250px;
}

.fact-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 24px;
}

.fact-description {
    font-size: 16px;
    font-weight: 400;
    color: #727272;
    margin-bottom: 100px;
}

/*---------------------------
        Award Section 
 ---------------------------*/

.awards {
    display: flex;
    justify-content: space-around;
    margin-left: 290px;
    margin-right: 290px;
}

.award {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}

.award-title {
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}

.award-description {
    font-size: 20px;
    font-weight: 600;
    color: #727272;
}
.sponsor{
    text-align: center;
}
.title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-top: 170px;
    margin-bottom: 24px;
}
.sub-title{
color: #727272;
font-size: 16px;
font-weight: 400;
}